.message {

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    display: inline-block;
    align-self: flex-end;
}

.text {
    display: inline-block;
    text-align: right;
    color: #FFFFFF;
    background-color: rgb(0, 102, 204);
    padding: 10px 15px;
    border-radius: 10px 10px 0 10px;
    position: relative;
    box-shadow: 0px 1px 2px 0px #1D21261A;
}

.text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 99.9%;
    width: 12px;
    height: 11px;
    background-color: #0066cc;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    /*box-shadow: 0px 5px 20px 0px #1D212608;*/
}

.name {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;

}

.messageText {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

}

.time {
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
}
