.radio {

}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    gap: 0.5rem;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
