.App {
    --header_height: 60px;
    padding-top: 131px;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
}

.hw {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 24px 70px;
}

.hwTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0;
    margin-left: 70px;
}
