.friendMessage {

}

.friendImageAndText {
    display: flex;
    gap: 12px;
    filter: drop-shadow(0px 5px 20px #1D212608);
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    display: inline-block;
    align-self: flex-end;
}

.friendText {
    display: inline-block;
    text-align: left;
    color: #000000;
    background-color: #F5F7FB;
    padding: 10px 15px;
    border-radius: 10px 10px  10px 0;
    position: relative;
    box-shadow: 0px 5px 20px 0px #1D212608;
}

.friendText:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 12px;
    height: 11px;
    background-color: #F5F7FB;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}


.friendName {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
}

.friendMessageText {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.friendTime {
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
