.burgerMenuIcon {
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 70px 16px;
    box-shadow: 0 0 40px 0 #1D212621;
    z-index: 900;
    background-color: white;
}

.header h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}
