.button {
    padding: 5px 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    color: #FFFFFF;
}

.disabled {
    background-color: #004D99;
    color: #002E5C;
    opacity: 0.5;
}

.secondary {
    color: #0066CC;
    background-color: #FFFFFF;
    border: 1px solid #0066CC;
}

.default {
    background-color: #0066CC;
    color: #FFFFFF;
}

.red {
    background-color: #CC1439;
}

.default:hover {
    background-color: #0080FF;
}

.red:hover {
    background-color: #FF1A47;
}

.secondary:hover {
    background-color: #E5F0FA;
}

.default:active {
    background-color: #0059B2;
}

.secondary:active {
    background-color: #C9E5FF;
}

.red:active {
    background-color: #B21232;
}

.button:disabled {
    cursor: not-allowed;
}
