.button {
    padding: 5px 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.disabled {
    background-color: #004D99;
    color: #002E5C;
}

.secondary {
    background-color: #D9D9D9;
    color: #000000;
}

.default {
    background-color: #0066CC;
    color: #FFFFFF;
}

.red {
    background-color: #CC1439;
    color: #FFFFFF;
}

.default:hover {
    background-color: #0080FF;
}

.red:hover {
    background-color: #FF1744;
}

.secondary:hover {
    background-color: #E5E5E5;
}

.default:active {
    background-color: #0059B3;
}

.secondary:active {
    background-color: #CCCCCC;
}

.red:active {
    background-color: #B31230;
}

.button:disabled {
    cursor: not-allowed;
}
