.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.number {
    min-width: 24px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
